.ssh/doinbg
.ssh/doinbg.pub
.txt/.public_wiki
.bin/hugo
.vim/pack/
.vim/undo/
.vim/backup/
.vim/plugged/
.links/links.his
.mutt/sent
.mutt/cache/
.mutt/bodies/
.mutt/certificates
.zsh/.zcompdump
.aws/
.gnupg/openpgp-revocs.d/
.gnupg/private-keys-v1.d/
.gnupg/pubring.kbx
.gnupg/pubring.kbx~
.gnupg/random_seed
.xdg/yarn/
.xdg/ranger/
.xdg/applications/
.xdg/mime/
.config/htop/
.config/litecli/
.config/ranger/
.config/configstore/
.config/mps-youtube/
.config/mpv/
.autolog/brew.log
.autolog/vim.log
Applications/eddie/
