[submodule ".zsh"]
	path = .zsh
	url = git@github.com:pcho/zshfiles.git
[submodule ".config"]
	path = .config
	url = git@github.com:pcho/configfiles.git
[submodule ".bin"]
	path = .bin
	url = git@github.com:pcho/binfiles.git
[submodule ".vim"]
	path = .vim
	url = git@github.com:pcho/vimfiles.git
