[user]
    name = pcho
    email = p@monkin.co
[alias]
    a = add -A
    b = branch
    c = clone --depth=1
    d = diff
    g = push -u origin
    l = log
    p = pull
    s = status
    r = reset HEAD
    cd = clone
    gcc = checkout
    av = commit -a -v
    gm = push -u origin master
    gd = push -u origin dev
    ga = submodule add
    gs = submodule update --init --recursive
    gf = push origin master --force
    gr = pull --rebase upstream
    gu = remote add upstream
    gl = show-branch -r
    gsr = clone --depth=1 --recurse-submodules
[pull]
	rebase = false
[init]
	defaultBranch = master
