[submodule ".zsh"]
	path = .zsh
	url = git@github.com:monkinco/zshfiles.git
[submodule ".config"]
	path = .config
	url = git@github.com:monkinco/configfiles.git
[submodule ".bin"]
	path = .bin
	url = git@github.com:monkinco/binfiles.git
[submodule ".vim"]
	path = .vim
	url = git@github.com:monkinco/vimfiles.git
